<!DOCTYPE html>

@{ 
    ViewBag.Title = "ASP.NET MVC App";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/ui-angular-bootstrap/css")
    @Styles.Render("~/content/layout/css")

    @RenderSection("PageStyles", required: false)
</head>
<body>
    <div id="App" ng-app="App">
        <div class="header jumbotron container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div id="PageContainer">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/content/ui-angular-bootstrap/js")
    @Scripts.Render("~/content/layout/js")
    @Scripts.Render("~/content/dataservice/js")

    @RenderSection("PageScripts", required: false)
</body>
</html>
